---
# Personal Git user info
git_user_name: "Your Name"
git_user_email: "your.email@example.com"

# Git user info for Ginmao work projects
git_ginmao_name: "Your Chinese Name"
git_ginmao_email: "your.work.email@ginmao.com.tw"
